*{
    margin: 0;
}
.parent{
    background-color: rgb(103, 100, 100);
}
.list ol {
    text-align: end;
}
li{
    background-color: 	#f6f3b5;
    font-size: large;
    border-radius: 5px;
    padding: 4px;
    display: inline;
}
.child1{
    display: flex;
    text-align: justify;
    /* height: 200px; */
    overflow: hidden;
}
.btn{
    background-color: 	#a7e0f4;
    padding: 4px;
    border-radius: 5px;
}
.child2 img{
    width: 300px;
    height: 300px;
    border-radius: 0px 30px 30px 0;
    padding: 5px 0px 0px 0px;
}
#aa{
    text-align: justify;
    margin: 10px auto;
    max-width: 500px;
    background-image: linear-gradient(45deg,white,rgb(250, 77, 46));
    padding: 10px;
    border-radius: 8px;
    border: 4px solid white;
    box-shadow: 5px 5px 8px rgb(56, 9, 225);
}
h1{
    text-align:center;
    text-decoration: underline;
}
.login{
    background-image: linear-gradient(45deg,white,rgb(250, 77, 46));
    margin: 10px auto; padding: 8px;
    border-radius: 8px;
    border: 4px solid white;
    box-shadow: 5px 5px 8px rgb(56, 9, 225);
}
.child2{
    display: flex;
    text-align: center;
    margin: 20px 0px;
}
p{
    background-color: chocolate;
    border: 8px solid white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 6px 6px 5px;
}